<section class="jumbotron text-center">
  <div class="container">
    <h1>You are in Nuuvem</h1>
    <p class="lead text-muted">Your digital store and gaming platform for Windows, macOS, and Linux. With Nuuvem you will discover, buy and manage your games.</p>
  </div>
</section>